@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.conteiner {
    width: 1170px;
    padding: 15px 0 15px 0;
    margin: 0 auto;

}

.section__block1 {
    height: 100vh;
    min-height: 800px;
    background-image: url("/images/text__form.png");
    background-position: center top;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        content: '';
        background-image: url(../images/arrow_1.png);
        height: 25px;
        width: 25px;
        position: absolute;
        bottom: -12.5px;
        left: 50%;
    }

    .text__info p {
        color: #ffffff;
        font-size: 21px;
        font-weight: 400;
        line-height: 27px;
        margin: 0;
        .center;
    }

    h1 {

        text-shadow: 1px 1px 2px rgba(4, 5, 5, 0.41);
        color: #d33627;
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
        .center;
    }

    .text__info-title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        width: 750px;
        height: 35px;
        background-color: #d33627;
        border-radius: 50px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -365px;
        margin-bottom: 35px;
        .center;
    }
}

.section_block2 {
    background-image: url("/images/block_2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0 55px;

    .text__info-block {
        color: #ffffff;
        font-size: 35px;
        font-weight: 600;
        .center;
        padding-bottom: 49px;
    }

    .block {
        width: 1140px;
        margin: 0 auto;

        .block__item {
            width: 340px;
            height: 215px;
            float: left;
            border: 1px dashed #ea4d42;
            box-sizing: border-box;
            padding-top: 38px;
            position: relative;
            .center;
            margin-bottom: 80px;

            &:nth-child(2) {
                margin: 0 60px;
            }

            .block__item-text1 {
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
            }

            .block__item-text2 {
                color: #ea4d42;
                font-size: 35px;
                font-weight: 700;
                margin: 10px 0;

            }

            .block__item-text3 {
                color: #ffffff;
                font-size: 20px;
                font-weight: 300;
            }

            .button {
                width: 170px;
                height: 50px;
                box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
                background-color: #ea4d42;
                color: #ffffff;
                font-size: 17px;
                font-weight: 600;
                line-height: 40px;
                text-transform: uppercase;
                letter-spacing: 1.53px;
                border: 0;
                position: absolute;
                bottom: -25px;
                left: calc(50% - 85px);
                cursor: pointer;


            }

        }
    }

    .text__info-block2 {
        .center;
        color: #ffffff;
        font-size: 21px;
        font-weight: 300;
        margin-top: 80px;



        b {
            font-size: 25px;
            font-weight: 700;
            display: block;
            margin: 15px 0 25px;
        }

        span {
            color: #ea4d42;

            font-size: 25px;
            font-weight: 700;
            display: block;
            margin-top: 35px;
        }

    }


}

.section_block3 {
    padding: 55px 0 83px;
    background-color: black;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        background-image: url(../images/arrow_1.png);
        height: 25px;
        width: 25px;
        position: absolute;
        bottom: -12.5px;
        right: 50%;

    }

    &:before {
        background-image: url(../images/model1.png);
        content: '';
        width: 590px;
        height: 879px;
        position: absolute;
        right: calc(50% + 51px);
        margin-top: 40px;

    }

    .text__info1 p {
        .center;
        color: #ffffff;
        font-size: 21px;
        font-weight: 300;
    }

    h3 {
        .center;
        color: #ffffff;
        font-size: 45px;
        font-weight: 600;
        line-height: 65px;
        text-transform: uppercase;
        margin-top: 25px;
        margin-bottom: 60px;

    }

    .block {
        .center;
        width: 499px;
        height: 436px;
        border: 1px dashed #ea4d42;
        margin-left: 50%;
        padding: 38px 72px 0;
        box-sizing: border-box;
        position: relative;


        .block__text1 {
            color: #ffffff;
            font-size: 21px;
            font-weight: 300;


            b {
                font-weight: 700;
            }
        }

        .block__text2 {
            font-size: 39px;
            line-height: 65px;

            span {
                color: #969696;
                font-weight: 300;
                position: relative;


                &:before {
                    content: '';
                    background-color: #969696;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 2px;
                }
            }

            b {
                font-weight: 700;
                color: #ea4d42;
            }
        }

        .block__text3 {
            color: #969696;
            font-size: 17px;
            font-weight: 400;
            line-height: 27px;
            margin-top: 14px;
            margin-bottom: 13px;
        }

        .block__text5 {
            color: #ffffff;
            font-size: 19px;
            font-weight: 300;
            line-height: 27px;
            margin-bottom: 15px;
        }

        .button {
            width: 170px;
            height: 50px;
            box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
            background-color: #ea4d42;
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 1.53px;
            border: 0;
            position: absolute;
            bottom: -25px;
            left: calc(50% - 85px);
            cursor: pointer;
            margin-top: 29px;
        }


    }


}

.section_block4 {
    background-color: black;
    padding: 59px 0 62px;
    overflow: hidden;

    .block__title {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 66px;
        text-align: center;
    }

    .block__avatar {
        width: 920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .item__block {
            width: 25%;
            position: relative;
            .center;

            &.active {
                img {
                    border: 2px solid #ea4d42;
                }

                &:before {
                    content: '';
                    width: 25px;
                    height: 25px;
                    border-left: 1px dashed #ea4d42;
                    border-top: 1px dashed #ea4d42;
                    position: absolute;
                    bottom: -46.5px;
                    left: calc(50% - 12.5px);
                    transform: rotate(45deg);
                    background: #000;

                }
            }

        }

        img {
            width: 150px;
            height: 150px;
            border: 2px solid transparent;
            border-radius: 50%;

            &:hover {
                border: 2px solid #ea4d42;
            }
        }

        .tt1 {
            margin-top: 25px;
            height: 19px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
        }
    }


    .block__text {
        border: 1px dashed #ea4d42;
        margin-top: 33px;
        padding: 33px 50px;
        box-sizing: border-box;
        width: 100%;
        .center;

        p {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;

        }
    }

}

.section_block5 {
    background-image: url(../images/bg-5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    .block {
        display: flex;
        justify-content: center;
        padding: 55px 0 59px;


        .block__item {

            &.txt-right {
                .txt {
                    line-height: 65px;
                    font-size: 55px;
                    font-weight: 300;
                    color: #969696;
                    padding-right: 28px;
                    margin-top: 43px;

                    span {
                        position: relative;


                        &:before {
                            content: '';
                            background-color: #969696;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            width: 100%;
                            height: 2px;
                        }


                    }

                    b {
                        font-weight: 700;
                        color: #ea4d42;
                    }


                }
            }


        }

        .count__block {
            width: 285px;
            .center;

            .tt1 {
                color: #969696;
                font-size: 17px;
                font-weight: 400;
                line-height: 27px;
                margin-bottom: 14px;

            }

        }
    }

    .form__block {
        border-radius: 3px;
        overflow: hidden;
        margin: 0px 0 58px;

        form {
            display: flex;
            align-items: center;



            .inpb {
                width: calc((100% - 370px) / 3);

                &:nth-child(2) {
                    position: relative;

                    &:before {
                        content: '';
                        height: 24px;
                        width: 0.5px;
                        background: #646464;
                        position: absolute;
                        left: 0;
                        top: 13px;


                    }

                    &:after {
                        content: '';
                        height: 24px;
                        width: 1px;
                        background: #646464;
                        position: absolute;
                        right: 0;
                        top: 13px;


                    }

                }

                input {
                    width: 100%;
                    height: 48px;
                    border: none;
                    background-color: #ffffff;
                    outline: none;
                    .center;
                }


            }

            .inpb__button {
                width: 370px;
                height: 50px;

                button {
                    .center;
                    width: 100%;
                    height: 50px;
                    box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
                    background-color: #ea4d42;
                    border: none;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 40px;
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;

                }



            }
        }
    }

    .btn__block {
        .center;


        button {
            background-image: url(../images/bg-read-more.png);
            width: 270px;
            height: 50px;
            color: #ffffff;
            font-size: 17px;
            line-height: 40px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #ea4d42;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 50px;

            img {
                margin-right: 13px;
                position: relative;
                top: 8px;
            }
        }

    }
}

.section__block6 {
    background-image: url(../images/bg-block-6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 51px 0 63px;


    .name__block {
        .center;
        color: #ffffff;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 58px;

    }

    .form {
        width: 1010px;
        margin: 0 auto;

        form {
            display: flex;

            .form__block {
                width: 50%;


                .inp {
                    margin-bottom: 30px;
                    padding-right: 30px;

                    input {
                        outline: none;
                        border: none;
                        width: 100%;
                        height: 50px;
                        color: #555555;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 50px;
                        letter-spacing: 0.5px;
                        .center;
                        border-radius: 5px;

                    }

                    textarea {
                        outline: none;
                        border: none;
                        width: 100%;
                        height: 215px;
                        color: #555555;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0.5px;
                        .center;
                        border-radius: 5px;
                        padding: 20px;
                        box-sizing: border-box;

                    }
                }
            }

        }
    }

    .btn__block {
        .center;

        button {
            width: 270px;
            height: 50px;
            box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
            background-color: #ea4d42;
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
            line-height: 50px;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 5px;

        }
    }

}

.section__block7 {
    padding: 55px 0 83px;
    background-color: black;
    position: relative;
    overflow: hidden;


    &:after {
        content: '';
        background-image: url(../images/arrow_1.png);
        height: 25px;
        width: 25px;
        position: absolute;
        bottom: -12.5px;
        right: 50%;
        bottom: 0;

    }

    &:before {
        background-image: url(../images/model-2.png);
        content: '';
        width: 389px;
        height: 879px;
        position: absolute;
        right: calc(50% + 51px);
        margin-top: 40px;
        margin-right: 177px;

    }

    .text__info1 p {
        .center;
        color: #ffffff;
        font-size: 21px;
        font-weight: 300;
    }

    h3 {
        .center;
        color: #ffffff;
        font-size: 45px;
        font-weight: 600;
        line-height: 65px;
        text-transform: uppercase;
        margin-top: 25px;
        margin-bottom: 60px;

    }

    .block {
        .center;
        width: 499px;
        height: 436px;
        border: 1px dashed #ea4d42;
        margin-left: 50%;
        padding: 38px 72px 0;
        box-sizing: border-box;
        position: relative;


        .block__text1 {
            color: #ffffff;
            font-size: 21px;
            font-weight: 300;


            b {
                font-weight: 700;
            }
        }

        .block__text2 {
            font-size: 37px;
            line-height: 65px;

            span {
                color: #969696;
                font-weight: 300;
                position: relative;


                &:before {
                    content: '';
                    background-color: #969696;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 2px;
                }
            }

            b {
                font-weight: 700;
                color: #ea4d42;
            }
        }

        .block__text3 {
            color: #969696;
            font-size: 17px;
            font-weight: 400;
            line-height: 27px;
            margin-top: 14px;
            margin-bottom: 13px;
        }

        .block__text5 {
            color: #ffffff;
            font-size: 19px;
            font-weight: 300;
            line-height: 27px;
            margin-bottom: 15px;
            margin-top: 10px;
        }

        .button {
            width: 170px;
            height: 50px;
            box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
            background-color: #ea4d42;
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 1.53px;
            border: 0;
            position: absolute;
            bottom: -25px;
            left: calc(50% - 85px);
            cursor: pointer;
            margin-top: 29px;
        }


    }


}

.section__block8 {
    padding: 59px 0 69px;
    background-image: url(../images/bg-block-8.png);
    background-size: cover;


    .name__block {
        width: 980px;
        margin: 0 auto;

        .name {
            color: #ffffff;
            font-size: 45px;
            font-weight: 600;
            line-height: 65px;
            text-transform: uppercase;
            .center;
            position: relative;
            margin-top: 0px;
            margin-bottom: 0px;

            &:before {
                content: '';
                background-image: url(../images/arrow-8.png);
                position: absolute;
                width: 70px;
                height: 112px;
                right: -70px;
                top: 26px;


            }

            span {
                color: #ea4d42;

            }
        }

        button {
            width: 180px;
            height: 40px;
            box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
            background-color: #ea4d42;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            margin-left: 74px;
            margin-top: 21px;




        }


    }

    .block {
        margin-top: 61px;

        .block__item {
            width: 210px;
            height: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            float: left;
            color: #fff;
            margin-right: 30px;
            position: relative;

            &::before {
                background-color: #000000;
                width: 100%;
                height: 100%;
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                opacity: 0.7;
            }

            &:hover {
                cursor: pointer;

                &:before {
                    display: none;
                }

                &:after {
                    display: none;
                }
            }


            .mask {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 134px;
                z-index: 1;
            }

            &.pic1 {
                background-image: url(../images/cegun.png), url(../images/mask.png);
                margin-bottom: 30px;
                margin-left: 110px;
            }

            &.pic2 {
                background-image: url(../images/Irina.png);
                margin-bottom: 30px;
            }

            &.pic3 {
                background-image: url(../images/block_8-3.png);
                margin-bottom: 30px;
            }

            &.pic4 {
                background-image: url(../images/block_8-4.png);
                margin-bottom: 30px;
            }

            &.pic5 {
                background-image: url(../images/block__8-5.png);
                margin-bottom: 30px;
            }

            &.pic6 {
                background-image: url(../images/block__8-6.png);
            }

            &.pic7 {
                background-image: url(../images/block__8-7.png);
            }

            &.pic8 {
                background-image: url(../images/block__8-8.png);
            }

            &.pic9 {
                background-image: url(../images/block__8-9.png);
            }

            &:last-child {
                margin-right: 0;
            }

            .text__name {
                text-shadow: 1px 1px 2px rgba(4, 5, 5, 0.41);
                color: #ffffff;
                font-weight: 600;
                .center;
                position: absolute;
                left: 0;
                bottom: 22px;
                width: 100%;
                z-index: 0;
            }

            .style-big {
                font-size: 35px;
            }

            .style-midle {
                font-size: 23px;
            }

            .style-small {
                font-size: 20px;
            }




        }
    }

    .books {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;



        .books__item {

            span {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
            }

            img {
                margin-right: 25px;
            }



        }

    }

    .btn__block {
        .center;
        margin-top: 45px;

        button {
            width: 270px;
            height: 50px;
            box-shadow: 0 0 76px rgba(234, 77, 66, 0.14);
            background-color: #ea4d42;
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
            line-height: 40px;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 5px;

        }
    }



}

.section__block9 {
    background-color: black;
    padding: 59px 0 62px;
    overflow: hidden;

    .block__title {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 66px;
        text-align: center;
    }

    .block__avatar {
        width: 920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        cursor: pointer;

        .item__block {
            width: 25%;
            position: relative;
            .center;
            


            &.active {
                img {
                    border: 2px solid #ea4d42;
                }

                
            }

        }

        img {
            width: 150px;
            height: 150px;
            border: 2px solid transparent;
            border-radius: 50%;

            &:hover {
                border: 2px solid #ea4d42;
            }
        }

        .tt1 {
            margin-top: 25px;
            height: 19px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
        }
    }

   


}